.col {
  background-color: rgba(62, 91, 222, 0.5);
  border: 1px solid black; /* Added a solid border style */
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
}


.parent-div{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("./images/weather.jpg") center/cover no-repeat fixed;
}